.image-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 1200px;
    margin: 0 auto;
}



body {
    font-family: "Inter", sans-serif;
}

.image-container img {
    width: 250px;
    height: 250px;
    margin: 1px;
    cursor: pointer;
}